.header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ECEDEF;
    display: flex;
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.30);

    .flex {
        display: flex;
    }

    &--logo {
        height: 50px;
        margin: auto 0;
        margin-right: 40px;
        // width: fit-content;

        img {
            display: inline-block;
            max-height: 100%;
        }
    }

    &--nav {
        list-style-type: none;
        padding: 0;
        display: flex;
        text-transform: uppercase;
        font-weight: 700;
        margin: auto 0;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;

        .push {
            margin-left: auto;
        }
    }

    &--list {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }

    &--link {
        text-decoration: none;
        color: #231F20;
        padding: 23px 0;
        &:hover {
            color: #231F20;
            text-decoration: none;
            filter:
            invert(59%)
            sepia(34%)
            saturate(4258%)
            hue-rotate(349deg)
            brightness(105%)
            contrast(92%);
        }
        &:hover > img {
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
    }
    
    &--link-arrow {
        width: 10px;
        margin-left: 6px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}

.navbar {
    height: 60px;

    .navbar-brand {
        margin-right: 2rem;
    }

    .nav-item {
        margin: 0 20px;

        &:hover .dropdown-menu{ 
            display: block;
            top: 62px;
        }
    } 

    .img {
        height: 50px;
    }

    .nav-link {
        font-size: 12px;
        font-weight: 700;
    }
}



