.desktop-header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ECEDEF;
    display: flex;
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.30);

    .container-flex {
        display: flex;
    }

    &--logo {
        height: 80px;
        margin-right: 40px;
        // width: fit-content;

        img {
            display: inline-block;
            max-height: 100%;
        }
    }

    &--nav {
        list-style-type: none;
        padding: 0;
        display: flex;
        text-transform: uppercase;
        font-weight: 700;
        margin: auto 0;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;

        &--item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }

            &--link {
                text-decoration: none;
                color: #031328;

                &--image {
                    width: 10px;
                    margin-left: 6px;
                }
            }
        }

        .push {
            margin-left: auto;
        }
    }
} 