.hero {
    position: relative;
    margin-bottom: 80px;

    &--img {
        // background-image: url("../../app/png/mb-final.png");
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: -1;
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.65);

        &:after {
            content: '\A';
            position: absolute;
            width: 100%;
            height:100%;
            top:0;
            left:0;
            background:rgba(0,0,0,0.55);
            opacity: 1;
        }
    }

    &--wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 127px;
        color: #ffffff;
        width: 540px;
        
    }

    &--heading {
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 50px;
        margin-bottom: 10px;
    }

    &--short-about {
        font-style: italic;
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    &--buttons {
        display: inline-flex;
    }

    // &--btn-secondary {
    //     margin-right: 15px;
    //     border-radius: 2px;
    //     display: inline-block; 
    //     border: 1px solid #ffffff;
    //     padding: 11px 30px;
    //     color: #ffffff;
    //     cursor: pointer; 
    //     &:hover {
    //         text-decoration: none;
    //         color: #ffffff;
    //     }
    // }

    &--btn-primary {
        display: inline-block;
        background: linear-gradient(#F79B4D, #F58220);
        padding: 12px 30px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 500;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
        &:hover {
            text-decoration: none;
            color: #ffffff;
            background: linear-gradient(#F58220, #F79B4D);
        }
    }
}

.services {
    margin-bottom: 80px;
    
    &--wrapper {
        width: 100%;
    }

    &--heading {
        font-size: 2.1875em;
        font-weight: 600;
        letter-spacing: 0.01em;
        margin-bottom: 70px;
        &:after {
            content: '';
            border-bottom: 2px solid #F58220;
            width: 7%;
            display: block;
            margin-top: 13px;
        }
    }

    &--grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // &--row1 {
    //     display: flex;
    //     justify-content: space-between;
    // }

    // &--row2 {
    //     display: flex;
    //     justify-content: space-between;
    // }

    &--single {
        position: relative;
        top: 0;
        transition: top ease 0.4s;
        border-radius: 5px;
        // background: #ffffff;
        width: 30%;
        // border: 1px solid black;
        text-align: center;
        color: #231F20;
        text-decoration: none;
        padding: 30px 50px;
        -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
        &:hover {
            color: #231F20;
            text-decoration: none;
            top: -15px;
        }
        &:nth-of-type(-n+3){
            margin-bottom: 70px;
        }
    }

    .none {
        border: 0px;
        box-shadow: none;
    }

    &--icon {
        margin-bottom: 20px;
    } 

    &--single-heading {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 18px;
    }

    &--paragraph {
        margin-bottom: 12px;
        font-size: 15px;
    }

    &--more {
        color: #F58220;
        font-weight: 600;
        font-size: 13px;
    }

    &--more-arrow {
        vertical-align: unset;
    }
}

.about-us {
    background: #F7F8F9;
    padding-top: 40px;

    &--wrapper {
        
    }

    &--heading {

    }
}