.hero {

    &--img {
        background-image: url("../../app/png/mb-final.png");
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: -1;

        &:after {
            content: '\A';
            position: absolute;
            width: 100%;
            height:100%;
            top:0;
            left:0;
            background:rgba(0,0,0,0.55);
            opacity: 1;
        }
    }

    &--wrapper {
        // display: inline;
        
    }

    &--heading {
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.5px;
    }

    &--short-about {
        font-style: italic;
        font-weight: 300;
    }

    &--btn-secondary {
        border-radius: 2px;
        display: inline-block; 
        border: 2px solid black;
        padding: 11px 30px;
        cursor: pointer; 
        font-size: 17px;
        color: black;
        &:hover {
            text-decoration: none;
        }
    }

    &--btn-primary {
        display: inline-block;
        background-color: khaki;
        padding: 13px 30px;
        cursor: pointer;
        font-size: 17px;
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}