//////* FOR BODY *///////

$font-family-base: 'Montserrat', sans-serif;
$body-color: #231F20;

$navbar-light-color: #231F20;
$navbar-light-hover-color: #F58220;
$navbar-light-active-color: #F58220;

$theme-colors: (
    "primary": #231F20,
    "secondary": #F58220
);
